* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    background-color: #F4F6FE;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

div.calculator {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    height: 500px;
}

